{% extends 'base.html' %}

{% block title %}Your Time Map{% endblock %}


{% block content %}

  <h2 style="text-align:center;">Your Time Map</h2>
  <div id='calendar' style="max-width: 900px; margin: 50px auto;"></div>

  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js"></script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var calendarEl = document.getElementById('calendar');
      var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        events: '/calendar/events/'
      });
      calendar.render();
    });
  </script>

{% include 'bot.html' %}
{% endblock %}